dist: trusty
sudo: false

language: scala

scala:
  - 2.12.7
  - 2.11.12

jdk: oraclejdk8

script: sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success: sbt ++$TRAVIS_SCALA_VERSION coverageReport coverageAggregate coveralls

notifications:
  slack:
    on_success: never
    on_failure: always
    rooms:
      secure: "P5qnVB9vrIha8pyjK/kjWSQo92CdVE4bXoxQqIxPhEW2hXJqYLPtG79d59tpgBCzK0cgNH+fX0AO9OZah3o9QtQKG3YDM3CkpgeTrpDHsJIFJ16oQLQJ2/fHC4bb4oEyngaZwlCqBj55fVV5YRrL3IBQXrGBPU4G37qTJc+Tk3hlVpdaep5K50xPcq4CQw7m3BsHciQ1VGZDt31vhsV+foacGPq1XoSP16wZXAZ4jmr38s2liG9pLI/f5vATW9uhDie795vb29eihXDleHgGVaFR0n9Qyq1CEQSlq9900K1C4kHKXjk1Ymb4oGFOA8MgSMSELrs+ODFIgSS51TLGy9JX2QI5gpN2VMD/l2qGQG9WKo6vSyE3eSIPK/eU3S4IoJ1IIcT/v8xekcq3YVeU2JHz8WV3+/w+CWttglbZQggi1h13y/+goqikO3dSHAAU1i98LGSXW51VCO2eg2dt0mdYOqSpDT/g7OTusYHS6wXGFjP6SNe3XvgLWMXd5//3dStZ/t/Sl6gZPoMWdWbPee4RVkxyONPYhI8eX3QHd559UeIqDzxNWR1iStam+VXQYnIlgWAPcopyZ1oBYBAEaLW/Wnf2ONQEtT3+hm2Ygo2D/alY6dmlAofQvw7cAL9vA3aVfj6KybT5wOmWwu9hCH4LQa2KFYtj7Avyh7JW2b8="

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete